ZeOntologyNewsExtractor/src/META-INF/wsdl/calais.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://clearforest.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://clearforest.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clearforest.com/">
      <s:element name="Enlighten">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenseID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paramsXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnlightenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnlightenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnlightenSoapIn">
    <wsdl:part name="parameters" element="tns:Enlighten" />
  </wsdl:message>
  <wsdl:message name="EnlightenSoapOut">
    <wsdl:part name="parameters" element="tns:EnlightenResponse" />
  </wsdl:message>
  <wsdl:message name="EnlightenHttpGetIn">
    <wsdl:part name="licenseID" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="paramsXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnlightenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnlightenHttpPostIn">
    <wsdl:part name="licenseID" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="paramsXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnlightenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="calaisSoap">
    <wsdl:operation name="Enlighten">
      <wsdl:input message="tns:EnlightenSoapIn" />
      <wsdl:output message="tns:EnlightenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="calaisHttpGet">
    <wsdl:operation name="Enlighten">
      <wsdl:input message="tns:EnlightenHttpGetIn" />
      <wsdl:output message="tns:EnlightenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="calaisHttpPost">
    <wsdl:operation name="Enlighten">
      <wsdl:input message="tns:EnlightenHttpPostIn" />
      <wsdl:output message="tns:EnlightenHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calaisSoap" type="tns:calaisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enlighten">
      <soap:operation soapAction="http://clearforest.com/Enlighten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="calaisSoap12" type="tns:calaisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enlighten">
      <soap12:operation soapAction="http://clearforest.com/Enlighten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="calaisHttpGet" type="tns:calaisHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Enlighten">
      <http:operation location="/Enlighten" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="calaisHttpPost" type="tns:calaisHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Enlighten">
      <http:operation location="/Enlighten" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calais">
    <wsdl:port name="calaisSoap" binding="tns:calaisSoap">
      <soap:address location="http://api.opencalais.com/enlighten/calais.asmx" />
    </wsdl:port>
    <wsdl:port name="calaisSoap12" binding="tns:calaisSoap12">
      <soap12:address location="http://api.opencalais.com/enlighten/calais.asmx" />
    </wsdl:port>
    <wsdl:port name="calaisHttpGet" binding="tns:calaisHttpGet">
      <http:address location="http://api.opencalais.com/enlighten/calais.asmx" />
    </wsdl:port>
    <wsdl:port name="calaisHttpPost" binding="tns:calaisHttpPost">
      <http:address location="http://api.opencalais.com/enlighten/calais.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>